<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
        <form action = '/notes' method = 'post'>
            Note: <input name="content">
            <button type="submit">Add Note</button>
        </form>
    </body>
</html>